@import '../../styles/var';

.c-section {
  position: relative;
  padding: $padding-main;
  width: 100%;
  min-height: 100vh;
  background: $black;
  margin: auto;

  &:first-of-type {
    margin: 55px auto 0 auto;
    @media screen and (min-width: $small) {
      margin: 66px auto 0 auto;
    }
    @media screen and (min-width: $medium) {
      margin: 70px auto 0 auto;
    }
    @media screen and (min-width: $large) {
      margin: 75px auto 0 auto;
    }
  }

  article p {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &__container {
    position: relative;
    max-width: $max;
    min-height: 100vh;
    margin: 0 auto;
  }

  &__children {
    position: relative;
    @media screen and (min-width: $small) {
      @include displayFlex($alignContent: center, $alignItems: center);
    }
  }

  &__heading {
    font-size: 5rem;
    color: $gray-light;
    text-transform: uppercase;
    margin: 1rem 0;
    @media screen and (min-width: $small) {
      font-size: 10rem;
    }
  }

  &__sub-heading {
    font-size: 2.5rem;
    color: $black-light;
    text-transform: uppercase;
    margin: 4rem 0 0.5rem 0;
    @media screen and (min-width: $medium) {
      font-size: 3rem;
    }
    @media screen and (min-width: $large) {
      font-size: 4rem;
    }
  }

  &__sub-heading:first-child {
    margin-top: 2rem;
  }

  &__admin-controls {
    display: block;
    width: 100%;
  }

  &__admin-controls--add-item .c-cta-button {
    display: block !important;
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: $small) {
      float: right;
    }
  }

  &--home,
  &--not-found,
  &--login {
    background: $black
      url(https://res.cloudinary.com/adamknee/image/upload/v1574027614/portfolio/stars_fighw6.png)
      repeat top center;
  }

  &--home &__container,
  &--not-found &__container,
  &--login &__container {
    padding: 0;
  }

  &--home &__children,
  &--not-found &__children,
  &--login &__children {
    position: static;
  }

  &--home article,
  &--not-found article {
    z-index: $layer1;
    @media screen and (min-width: $small) {
      width: 60%;
      padding-top: 3rem;
    }
    @media screen and (min-width: $medium) {
      padding-top: 6rem;
    }
  }

  &--home &__landing-image,
  &--not-found &__landing-image {
    margin: auto;
    width: 60%;
    z-index: $layer1;
    @media screen and (min-width: $small) {
      width: 40%;
    }
    @media screen and (min-width: $medium) {
      padding-top: 3rem;
    }
    @media screen and (min-width: $large) {
      padding-top: 6rem;
    }
  }

  &--home &__landing-image img,
  &--not-found &__landing-image img {
    @include float($duration: 6s);
  }

  &--home &__main-intro,
  &--not-found &__main-intro {
    position: relative;
    font-family: $font-main;
    font-size: 3.25rem;
    font-weight: 900;
    color: $white;
    text-transform: uppercase;
    margin: 0;
    @media screen and (min-width: $xxs) {
      font-size: 4.25rem;
    }
    @media screen and (min-width: $medium) {
      font-size: 5.25rem;
    }
    @media screen and (min-width: $large) {
      font-size: 7rem;
    }
    @media screen and (min-width: $max) {
      font-size: 8rem;
    }
  }

  &--home &__secondary-intro,
  &--not-found &__secondary-intro {
    position: relative;
    font-family: $font-main;
    font-size: 2.25rem;
    font-weight: 600;
    margin: 2rem 0;
    color: $white;
    @media screen and (min-width: $xxs) {
      font-size: 3.25rem;
    }
    @media screen and (min-width: $small) {
      margin: 6rem 0;
    }
    @media screen and (min-width: $large) {
      font-size: 5.5rem;
    }
    @media screen and (min-width: $max) {
      font-size: 6rem;
    }
  }

  &--home &__secondary-intro span,
  &--not-found &__secondary-intro span {
    color: $teal;
  }

  &--home &__secondary-intro a:focus,
  &--not-found &__secondary-intro a:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 3px solid $teal;
  }

  &--home &__twinkling-stars,
  &--not-found &__twinkling-stars,
  &--login &__twinkling-stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background: transparent
      url(https://res.cloudinary.com/adamknee/image/upload/v1574020970/portfolio/twinkle-gray_eswdcp.png)
      repeat top center;
    animation: move-twink-back 200s linear infinite;
    @media screen and (min-width: $small) {
      z-index: 0;
    }
  }

  &--not-found &__floating-asteroid,
  &--portfolio &__floating-asteroid,
  &--login &__floating-asteroid,
  &--not-found &__floating-space-object,
  &--portfolio &__floating-space-object,
  &--login &__floating-space-object {
    position: absolute;
    display: none;
    @media screen and (min-width: $large) {
      display: block;
    }
  }

  &--portfolio {
    background: $black
      url(https://res.cloudinary.com/adamknee/image/upload/v1574027614/portfolio/stars_fighw6.png)
      repeat top center;
    min-height: 100%;
    padding-bottom: 6rem;
    min-height: 3250px;
    @media screen and (min-width: $small) {
      min-height: 1058px;
    }
  }

  &--portfolio &__container {
    min-height: 100%;
  }

  &--portfolio &__portfolio-wrap {
    @include displayFlex($alignContent: center, $justifyContent: space-evenly);
    z-index: $layer3;
    width: 100%;
    @media screen and (min-width: $small) {
      @include displayFlex($alignContent: center, $justifyContent: flex-start);
    }
  }

  &--about {
    background-color: $white;
    min-height: 100%;
    padding-bottom: 6rem;
  }

  &--about a,
  &--about a:visited {
    color: $purple-main;
    font-weight: bold;
  }

  &--about a:hover {
    color: $purple-light;
  }

  &--about a:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid $teal;
  }

  &--about &__container,
  &--resume &__container {
    min-height: 100%;
  }

  &--about &__children,
  &--resume &__children {
    @include displayFlex($alignContent: flex-start, $alignItems: center);
  }

  &--about &__about-me-copy,
  &--resume &__resume-copy {
    @media screen and (min-width: $small) {
      @include displayFlex(
        $alignContent: flex-start,
        $alignItems: flex-start,
        $justifyContent: space-between
      );
    }
  }

  &--resume &__resume-copy {
    width: 100%;
  }

  &--about &__body-copy,
  &--resume &__body-copy {
    @media screen and (min-width: $small) {
      width: 48%;
    }
  }

  &--about &__landing-image {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23f2f2f2' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: relative;
    margin: 4rem auto 0 auto;
    width: 100%;
  }

  &--about &__landing-image img {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: layer1;
  }

  &--about &__floating-object {
    position: absolute;
    @media screen and (min-width: $medium) {
      @include float;
    }
  }

  &--about &__floating-object svg {
    width: 50px;
    @media screen and (min-width: $xs) {
      width: 80px;
    }
    @media screen and (min-width: $medium) {
      width: 100px;
      @include spin;
    }
  }

  &--about &__floating-object--dumbbell {
    top: 80px;
    @media screen and (min-width: $medium) {
      top: 300px;
    }
  }

  &--about &__floating-object--dumbbell svg {
    @media screen and (min-width: $medium) {
      @include spin(20s);
    }
  }

  &--about &__floating-object--volleyball {
    left: 5%;
    top: 0;
    @media screen and (min-width: $medium) {
      left: 20%;
      top: 80px;
    }
  }

  &--about &__floating-object--book {
    right: 12%;
    top: -20px;
    @media screen and (min-width: $medium) {
      right: 20%;
      top: 180px;
    }
  }

  &--about &__floating-object--book svg {
    @media screen and (min-width: $medium) {
      @include spin(14s);
    }
  }

  &--about &__floating-object--dumbbell:nth-child(1) {
    right: 0;
    top: 80px;
  }

  &--about &__floating-object--dumbbell:nth-child(1) svg {
    @media screen and (min-width: $medium) {
      @include spin(12s);
    }
  }

  &--contact {
    background: $purple-dark
      url('https://res.cloudinary.com/adamknee/image/upload/v1573185928/portfolio/shapes-background_tpifg6.png');
    background-size: 25%;
    min-height: 100%;
    padding-bottom: 6rem;
  }

  &--contact &__container {
    min-height: 100%;
  }

  &--contact &__children {
    @include displayFlex($alignContent: center, $justifyContent: space-between);
    padding: 2rem 0;
  }

  &--contact &__landing-image {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 4rem;
    @media screen and (min-width: $medium) {
      margin-top: 0;
    }
  }

  &--contact &__landing-image img {
    @include float($duration: 6s);
    @media screen and (min-width: $medium) {
      width: 86%;
    }
  }

  &--contact &__contact-form {
    order: -1;
    @media screen and (min-width: $small) {
      order: 0;
    }
  }

  &--contact &__contact-form-wrap {
    box-shadow: $card;
    transition: $raise;
    background-color: $purple-deep;
    border-radius: 4px;
    padding: 1rem 2rem 2rem 2rem;
    height: 100%;
  }

  &--contact &__landing-image,
  &--contact &__contact-form {
    width: 100%;
    @media screen and (min-width: $small) {
      width: 48%;
    }
  }

  &--resume {
    background: $white
      url('https://res.cloudinary.com/adamknee/image/upload/v1575183059/portfolio/shapes-background-white_n7xeik.png');
    background-size: 20%;
    min-height: 100vh;
  }

  &--resume .c-cta-button {
    margin-top: 2rem;
  }

  @keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes floatingAcross {
    0% {
      left: -100%;
    }
    100% {
      left: 120%;
    }
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }
}
