@import '../../styles/var';

.c-form-contact {
  label {
    color: $white;
    font-family: $font-main;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__loading p {
    display: inline-block;
  }

  &__row {
    margin: 2rem auto;
    width: 100%;
  }

  &__row--error {
    font-family: $font-main;
    color: $black;
    background-color: $error;
    padding: 0.25rem 2%;
  }

  &__row--success,
  &__row--sending {
    font-family: $font-main;
    color: $black;
    background-color: $success;
    padding: 0.25rem 2%;
  }

  &__submit-button {
    background-color: $purple-main;
    color: $off-white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $font-main;
    font-weight: bold;
    max-width: 300px;
    float: right;
    margin-bottom: 2rem;
  }

  &__submit-button:hover {
    background-color: $purple-light;
    color: $white;
  }

  .grecaptcha-badge {
    display: none !important;
  }

  .c-checkmark {
    max-width: 100px;
    margin: 2rem auto 0;
    display: block;
    @media screen and (min-width: $small) {
      margin: 8rem auto 0;
    }
  }

  textarea {
    resize: vertical;
  }
}
