@import '../../styles/var';

.c-cta-button {
  position: relative;
  padding: $padding-small;
  max-width: 300px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 1px solid $purple-main;
  background: $purple-main;
  color: $white;
  font-weight: bold;
  font-family: $font-main;
  align-self: flex-end;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: $layer1;
  @include subtleColorFadeWithShadowTransition(0.25s);

  &:visited {
    background: $purple-main;
    color: $white;
  }

  &:hover {
    border-color: $purple-light;
    background: $purple-light;
    color: $off-white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &--alternate,
  &--alternate:visited {
    border-color: $purple-dark;
    background: $purple-dark;
    color: $white;
  }

  &--edit,
  &--delete {
    margin-top: 1rem;
  }

  &--edit,
  &--edit:visited {
    border-color: $success;
    background: $success;
    color: $white;
  }

  &--edit:hover {
    border-color: $success-light;
    background: $success-light;
    color: $white;
  }

  &--delete,
  &--delete:visited {
    border-color: $error;
    background: $error;
    color: $white;
  }

  &--delete:hover {
    border-color: $error-light;
    background: $error-light;
    color: $white;
  }

  &--large {
    min-width: 300px;
  }
}
