@import './var';

html,
body {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(82, 71, 99, 1) 70%
  );
  * {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(82, 71, 99, 1) 70%
  );
}

body {
  font-size: 1rem;
  font-family: $font-secondary;
  min-height: 100vh;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(82, 71, 99, 1) 70%
  );
}

img {
  display: block;
  width: 100%;
}

a {
  color: $teal;
  &:visited {
    color: $teal;
  }
  &:hover {
    color: $teal-light;
  }
}

button {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2pt $teal;
}

.html--modal-opened {
  overflow: hidden;
}

.html--modal-opened header {
  position: static;
}

.html--modal-opened .c-settings-cog {
  display: none;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
