@import './var';

form {
  max-width: $large;
  margin: auto;

  label,
  input,
  select,
  option,
  textarea {
    width: 100%;
    font-size: 1.6rem;
    border-radius: 0;
  }

  input,
  textarea,
  select {
    padding: 1rem;
    border: thin solid $gray;
    border-radius: 0;
  }

  textarea {
    min-height: 125px;
  }

  select,
  option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: transparent;
  }

  select {
    background-image: url('https://image.flaticon.com/icons/svg/60/60781.svg');
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    cursor: pointer;
  }

  option {
    background-color: $white;
    padding: 1rem 0;
  }

  label {
    margin-bottom: 0.5rem;
    display: block;
  }

  fieldset {
    border: none;
    padding: 1em;
  }

  button {
    padding: 1rem;
    font-size: 1.6rem;
  }

  .required {
    color: $error;
  }

  .optional {
    color: $gray;
  }
}
