@import '../styles/var';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  color: $white;
}

h1,
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5,
h6 {
  font-size: 1.6rem;
}

li,
p,
a,
button {
  font-size: 1.4rem;
  * {
    font-size: inherit;
  }
}

a {
  text-decoration: none;
}
