// Fonts
$font-main: 'Poppins', sans-serif;
$font-secondary: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;

// Colors
$white: #fff;
$off-white-light: #f5f4f6;
$off-white: #f2f2f2;
$gray: #ccc;
$gray-light: #e0e0e0;
$gray-medium: #bdbdbd;
$gray-dark: #828282;
$black-light: #4f4f4f;
$black: #333;
$purple-deep: #191324;
$purple-dark: #373142;
$purple-main: #524763;
$purple-light: #6a5c80;
$purple-gray: #b8afc5;
$teal: #82d8d8;
$teal-light: #b1e7e7;
$error: #d88282;
$error-light: lighten($error, 5);
$success: $teal;
$success-light: lighten($success, 5);

// Spacing
$padding-main: 2rem;
$margin-main: 2rem;
$padding-small: 1rem;
$margin-small: 1rem;

// Media Queries
$xxs: 420px;
$xs: 480px;
$small: 640px;
$medium: 768px;
$large: 1024px;
$max: 1250px;

// z-indexes
$negative: -1;
$layer1: 250;
$layer2: 500;
$layer3: 750;
$layer4: 999;
$layer5: 9999;

// Shadows
$card: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$card-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$backdrop: rgba($black, 0.7);

// Transitions
$raise: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

// Layout
@mixin displayFlex(
  $flexFlow: row wrap,
  $justifyContent: space-between,
  $alignContent: flex-start,
  $alignItems: stretch
) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: $flexFlow;
  -webkit-justify-content: $justifyContent;
  -ms-flex-pack: $justifyContent;
  justify-content: $justifyContent;
  -webkit-align-content: $alignContent;
  -ms-flex-line-pack: $alignContent;
  align-content: $alignContent;
  -webkit-align-items: $alignItems;
  -ms-flex-align: $alignItems;
  align-items: $alignItems;
}

@mixin textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin scrollIconDefaults {
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  @media screen and (min-width: $medium) {
    bottom: 15%;
  }
}

// Borders
@mixin roundedCorners($radius: 1rem, $color: $white) {
  border: thin solid $color;
  border-radius: $radius;
}

// Transitions
@mixin fade($time: 0.15s, $delay: 0) {
  -moz-transition: opacity $time ease-in-out $delay;
  -webkit-transition: opacity $time ease-in-out $delay;
  transition: opacity $time ease-in-out $delay;
}

@mixin subtleColorFade($time) {
  transition: color $time ease-in-out, background-color $time ease-in-out,
    border $time ease-in-out;
}

@mixin subtleColorFadeWithShadowTransition($time) {
  transition: color $time ease-in-out, background-color $time ease-in-out,
    border $time ease-in-out,
    box-shadow $time cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin animateAll($time: 0.25s) {
  transition: all $time ease-in-out;
}

// Animations
@mixin float($duration: 3s, $marginTop: 5px) {
  animation-name: floating;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: $marginTop;
  @keyframes floating {
    from {
      transform: translate(0, 0px);
    }
    65% {
      transform: translate(0, 15px);
    }
    to {
      transform: translate(0, -0px);
    }
  }
}

@mixin spin($duration: 8s) {
  animation-name: spinning;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
