@import '../../styles/var';

.c-scroll-icon {
  @include scrollIconDefaults;
  display: block;
  margin: auto;
  z-index: $layer1;

  @media only screen and (max-device-width: $medium) and (orientation: landscape) {
    position: static;
    margin-top: 3rem;
  }

  @media only screen and (min-device-width: $medium) and (max-device-width: $large) and (orientation: landscape) {
    @include scrollIconDefaults;
  }

  @media only screen and (min-device-width: $medium) and (max-device-width: $large) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    @include scrollIconDefaults;
  }

  @media only screen and (min-width: $large) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    @include scrollIconDefaults;
  }

  &__container {
    margin: 0 auto;
    width: 50px;
    display: block;
  }

  &__container:focus {
    box-shadow: none;
    padding-bottom: 1rem;
    border-bottom: 3px solid $teal;
  }

  svg {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(25px);
      opacity: 0;
    }
  }
}
