@import '../../styles/var';

.c-nav {
  display: block;
  color: $white;
  background: $purple-main;
  width: 100%;
  font-family: $font-main;
  @include animateAll;
  @media screen and (min-width: $small) {
    @include displayFlex(
      $flexFlow: row nowrap,
      $justifyContent: flex-end,
      $alignContent: flex-end,
      $alignItems: center
    );
  }

  ul,
  ol {
    position: absolute;
    display: block;
    max-height: 0;
    padding: 0;
    width: 100%;
    top: 75px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    list-style-type: none;
    transition: visibility 0s ease-in-out 0s, opacity 0.25s ease-in-out 0.25s;
    -webkit-font-smoothing: antialiased;
    @include animateAll;
    @media screen and (min-width: $small) {
      @include displayFlex(
        $flexFlow: row nowrap,
        $justifyContent: flex-end,
        $alignContent: flex-end,
        $alignItems: flex-end
      );
      position: static;
      visibility: visible;
      opacity: 1;
      max-height: initial;
      margin: 0;
    }
  }

  ul li,
  ol li {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-main;
    font-size: 2rem;
    padding: 2rem;
    font-weight: 900;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    @include animateAll;
    @media screen and (min-width: $small) {
      font-size: 1.5rem;
      padding: $padding-main $padding-small / 2;
      width: 25%;
      &:last-child {
        padding-right: 0;
      }
    }
    @media screen and (min-width: $medium) {
      font-size: 1.85rem;
    }
    @media screen and (min-width: $large) {
      font-size: 2rem;
      padding: 2rem 1.5rem;
      margin-top: 3px;
    }
  }

  ul li a,
  ol li a,
  ul li button,
  ol li button {
    display: block;
    color: inherit;
    font: inherit;
    background: inherit;
    text-transform: inherit;
    border: inherit;
    padding: 0;
    width: 100%;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: $teal-light;
    }
    &:focus,
    &:active {
      color: $teal-light;
      box-shadow: none;
      outline: none;
    }
  }

  &__menu {
    color: $white;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 1.6rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    @media screen and (min-width: $small) {
      display: none;
    }
  }

  &__menu:focus {
    color: $teal-light;
    box-shadow: none;
    outline: none;
  }

  &__splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      background-color: $purple-main;
      width: 284vmax;
      height: 284vmax;
      top: -142vmax;
      left: -142vmax;
      transform: scale(0);
      transform-origin: 50% 50%;
      transition: transform 0.25s cubic-bezier(0.755, 0.05, 0.855, 0.06);
      will-change: transform;
      z-index: $negative;
    }
  }

  &--opened ul,
  &--opened ol {
    max-height: initial;
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: $layer5;
  }

  &--opened &__splash {
    &::after {
      transform: scale(1);
    }
    @media screen and (min-width: $small) {
      display: none;
    }
  }
}

.html {
  &--mobile-nav-opened {
    overflow: hidden;
  }
}
