@import "../../styles/var";

.c-settings-cog {
  position: fixed;
  z-index: $layer5 - 100;
  right: 2%;
  bottom: 20px;

  &__button {
    cursor: pointer;
    background-color: $off-white;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: $card;
    transition: $raise;
    text-align: center;
  }

  &__control-panel {
    border-radius: 10px;
    background-color: $off-white;
    padding: 2rem;
    box-shadow: $card;
    transition: $raise;
    position: absolute;
    width: 250px;
    left: -260px;
    top: -65px;
  }

  &__close {
    cursor: pointer;
    background: transparent;
    border: none;
    color: $black;
    z-index: $layer5 + 1;
    position: absolute;
    top: 0.15rem;
    right: 0.25rem;
    font-size: 3rem;
    &:after {
      content: "×";
    }
  }

  &__close:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid $teal;
  }

  p {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  svg {
    width: 30px;
    margin: auto;
  }
}
