@import '../../styles/var';

.c-settings-toggle-switch {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  line-height: 0;
  text-indent: -9999px;
  display: block;
  border-radius: 100px;
  position: relative;
  font-size: 0;

  &__input {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &__label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: $gray-dark;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  &__label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: $off-white;
    border-radius: 45px;
    transition: 0.3s;
  }

  &__input:checked + &__label {
    background: #bada55;
  }

  &__input:checked + &__label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  &__label:active:after {
    width: 65px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid $teal;
  }
}
