@import '../../styles/form';

.c-modal-add-edit-portfolio-piece {
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    margin: $margin-small 0;
    width: 100%;
  }

  &__row--flex-end {
    justify-content: flex-end;
  }

  &__column {
    width: 49%;
  }

  .c-cta-button {
    margin: 2rem 0 0 0;
  }

  label {
    color: $white;
  }

  select {
    background-color: $white;
  }
}
