@import '../../styles/var';

.c-modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $layer5 * 2;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: $large;
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-shadow: $card-hover;
  background: $purple-dark
    url('https://res.cloudinary.com/adamknee/image/upload/v1573185928/portfolio/shapes-background_tpifg6.png');
  background-size: 30%;

  &__close {
    cursor: pointer;
    background: transparent;
    border: none;
    color: $off-white;
    z-index: $layer5 + 1;
    position: absolute;
    top: 0.9rem;
    right: $margin-small;
    font-size: 3.5rem;
    &:after {
      content: '×';
    }
    @media screen and (min-width: $small) {
      font-size: 4rem;
      top: 0.7rem;
    }
  }

  &__close:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 3px solid $teal;
  }

  &__title {
    color: $off-white;
    border-bottom: thin solid $off-white;
    @media screen and (min-width: $small) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  &__title h4 {
    margin: 0;
    color: inherit;
  }

  &__content {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__content h3 {
    font-size: 3rem;
    color: $white;
  }

  &__content p {
    font-size: 2rem;
    line-height: 1.5;
  }

  &__title,
  &__content {
    position: relative;
    padding: $padding-main;
  }

  &__backdrop {
    cursor: pointer;
    background: $white;
    z-index: $layer5 - 1;
    position: fixed;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    @media screen and (min-width: $small) {
      background: $backdrop;
      overflow: auto;
    }
  }

  @media screen and (min-width: $small) {
    width: 95%;
    height: auto;
    min-width: initial;
    min-height: initial;
    max-height: 100%;
    @include roundedCorners;
  }
}
