@import '../../styles/var';

.c-modal-portfolio-item {
  padding: $padding-main;
  @media screen and (min-width: $small) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: top;
    &__feature-image,
    &__item-details {
      width: 49%;
    }
  }

  h3 {
    color: $white;
    @media screen and (min-width: $small) {
      margin-top: 0;
    }
  }

  p {
    color: $white;
  }

  &__feature-image {
    margin: auto;
    max-width: 450px;
    max-height: 500px;
    overflow: hidden;
    @media screen and (min-width: $small) {
      margin: 0;
    }
  }

  &__feature-image img {
    max-width: 100%;
    display: block;
    border: 2px solid $black;
    border-radius: 12px;
  }

  &__cta-wrap .c-cta-button {
    margin: 2rem 0;
  }

  &__cta-wrap * {
    float: right;
    display: block;
    width: 100%;
  }
}
