.c-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 13px;
  margin-top: 2px;
}

.c-ellipsis div {
  position: absolute;
  top: 2px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.c-ellipsis div:nth-child(1) {
  left: 8px;
  animation: c-ellipsis1 0.6s infinite;
}

.c-ellipsis div:nth-child(2) {
  left: 8px;
  animation: c-ellipsis2 0.6s infinite;
}

.c-ellipsis div:nth-child(3) {
  left: 32px;
  animation: c-ellipsis2 0.6s infinite;
}

.c-ellipsis div:nth-child(4) {
  left: 56px;
  animation: c-ellipsis3 0.6s infinite;
}

@keyframes c-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes c-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes c-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
