@import 'styles/base';
@import 'styles/typography';

.App.animations-disabled {
  [data-floating-object],
  [data-floating-object] * {
    animation: unset !important;
    transition: none !important;
  }
  [data-moving-objects],
  [data-moving-objects] * {
    animation: unset !important;
    display: none !important;
  }
}

.App {
  .logo:focus {
    outline: none;
    box-shadow: none;
  }
  .logo:focus .svg__path {
    fill: #b1e7e7;
  }
}
