@import '../../styles/var';

.c-header {
  @include displayFlex(
    $alignItems: flex-start,
    $alignContent: flex-start,
    $justifyContent: space-between
  );
  position: fixed;
  z-index: $layer4;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem $padding-main;
  background: $purple-main;

  nav {
    width: 100%;
    max-width: 754px;
    text-align: right;
  }

  svg {
    height: 45px;
  }

  &--has-image {
    nav {
      width: 50%;
    }
    @media screen and (min-width: $small) {
      svg {
        margin-top: 2px;
        height: 50px;
      }
      nav {
        width: 75%;
      }
    }
    @media screen and (min-width: $medium) {
      svg {
        margin-top: 0;
        height: 58px;
      }
    }
    @media screen and (min-width: $large) {
      svg {
        margin-top: 0;
        height: 65px;
      }
    }
  }
}
