@import '../../styles/var';

.c-card {
  position: relative;
  min-width: 280px;
  width: 100%;
  height: 100%;
  box-shadow: $card;
  transition: $raise;

  @media screen and (min-width: $xxs) {
    min-width: 300px;
  }

  @media screen and (min-width: $max) {
    min-width: initial;
  }

  &:hover {
    box-shadow: $card-hover;
  }

  div {
    padding: $padding-main;
  }
}
