@import '../../styles/var';

.c-portfolio-card {
  margin: $margin-main auto;
  position: relative;
  background-color: transparent;
  width: 100%;

  @media screen and (min-width: $small) {
    max-width: 100%;
    width: 49%;
    margin: $margin-main 2% $margin-main 0;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $large) {
    width: 32%;
    margin: $margin-main 2% $margin-main 0;
    &:nth-child(2n) {
      margin-right: 2%;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $max) {
    width: 23.5%;
    margin: $margin-main 2% $margin-main 0;
    &:nth-child(2n) {
      margin-right: 2%;
    }
    &:nth-child(3n) {
      margin-right: 2%;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  &__image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__info {
    background-color: $white;
    color: $black;
    overflow: hidden;
  }

  &__info h1,
  &__info h2,
  &__info h3,
  &__info h4,
  &__info h5,
  &__info h6 {
    @include textEllipsis;
    color: inherit;
  }

  &__info p {
    @include textEllipsis;
  }

  &__cta-wrap {
    @include displayFlex;
    background: $off-white;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__cta-wrap a,
  &__cta-wrap button {
    width: 49%;
  }
}
